* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

img, iframe, textarea {
  vertical-align: top;
}

:focus {
  outline: none;
}

input, select, textarea {
  border: none;
}

.ver-top-box {
  display: inline-block;
  vertical-align: top;
}

.three-dot-one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.clearfix:after,
.cb {
  clear: both;
}

.clearfix:after {
  content: '';
  display: block;
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.dnone {
  display: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tj {
  text-align: justify;
}

.tu {
  text-transform: uppercase;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.table {
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.abs-center {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

textarea {
  resize: none;
}

::-ms-clear {
  display: none;
}

.no-wrap {
  white-space: nowrap;
}

.circle {
  border-radius: 50%;
}

.full-width {
  width: 100%;
}

.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.scroller-block {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

body::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-track,
body::-webkit-scrollbar,
.scroller-block::-webkit-scrollbar-thumb,
.scroller-block::-webkit-scrollbar-track,
.scroller-block::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

body::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-track,
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb,
.scroller-block::-webkit-scrollbar-thumb {
  background-color: $base-color;
  border-radius: 5px;
}


.trans-color {
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.trans-background {
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.trans-all {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.trans-opacity {
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.trans-transform {
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 9999s;
  -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
}
button:focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}
a:hover {
  text-decoration: none;
}
